/*Document   : autoComplete
    Created on : Oct 8, 2009, 2:50:26 PM
    Author     : pavanan
    Description:
    Purpose of the stylesheet follows.
*/


/* 
   TODO customize this sample style
   Syntax recommendation https://www.w3.org/TR/REC-CSS2/
*/

root {display: block;
}

#mainContainer{width:660px;margin:0 auto;text-align:left;height:100%;background-color:#FFF;border-left:3px double #000;border-right:3px double #000;
	}
	#formContent{padding:5px;
	}
	/* END CSS ONLY NEEDED IN DEMO */


	/* Big box with list of options */
	#ajax_listOfOptions{position:absolute;	/* Never change this one */width:220px;	/* Width of box */height:250px;	/* Height of box */overflow:auto;	/* Scrolling features */border:1px solid #1797ED;	/* Dark green border */background-color:#FFF;	/* White background color */text-align:left;font-size:0.9em;z-index:100;
	}
	#ajax_listOfOptions div{	/* General rule for both .optionDiv and .optionDivSelected */margin:1px;padding:5px;cursor:pointer;font-size:12px;
	}
	#ajax_listOfOptions .optionDiv{	/* Div for each item in list */

	}
	#ajax_listOfOptions .optionDivSelected{ /* Selected item in the list */background-color:#1797ED;color:#FFF;
	}
	#ajax_listOfOptions_iframe{background-color:#F00;position:absolute;z-index:5;
	}

	form{display:inline;
	}
